.card {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  display: flex;
  align-items: center;
  padding: 10px 40px;
  text-align: left;
}

.cardImage {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.cardContent {
  flex: 1;
  margin-left: 15px;
}

.card h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.card p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin: 5px 0;
  font-size: 14px;
}
