.card {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  display: flex;
  align-items: center;
  padding: 12px 40px;
  text-align: left;
}

.cardImage {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.cardContent {
  flex: 1;
  margin-left: 15px;
}

.card h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.card p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin: 5px 0;
  font-size: 14px;
}

.learnMoreButton {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: inline-block;
  padding: 6px 10px;
  margin-top: 8px;
  background-color: #d89d33;
  color: #000;
  text-decoration: none;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s;
}

.learnMoreButton:hover {
  background-color: #004080;
}
